In [26]:
%load_ext autoreload
%autoreload 2
from projetressourcesagricoles.data import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [27]:
csv_path = "/home/mickh/code/mathieudimartino/projet-ressources-agricoles/raw_data/merged.csv"
df = pd.read_csv(csv_path, low_memory=False)

In [30]:
df

,Code pays déclarant,Code pays partenaire,Code Produit,Code Élément,Élément,Unité,y1961,y1961f,y1962,y1962f,...,y2016,y2016f,y2017,y2017f,y2018,y2018f,y2019,y2019f,y2020,y2020f
0,1,2,527,5610,Importations - Quantité,tonnes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,527,5622,Importations - Valeur,US$,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2,221,5610,Importations - Quantité,tonnes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2,221,5622,Importations - Valeur,US$,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2,633,5610,Importations - Quantité,tonnes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141847,68,68,1726,5510,Production,tonnes,175120.0,Agrégat,148777.0,Agrégat,...,813427.0,Agrégat,1060443.0,Agrégat,835170.0,Agrégat,996810.0,Agrégat,NaN,NaN
141848,68,68,1720,5510,Production,tonnes,14331130.0,Agrégat,13389000.0,Agrégat,...,7015977.0,Agrégat,8609681.0,Agrégat,7860380.0,Agrégat,8560410.0,Agrégat,NaN,NaN
141849,68,68,1723,5510,Production,tonnes,13235800.0,Agrégat,11564700.0,Agrégat,...,37186932.0,Agrégat,49160551.0,Agrégat,39914030.0,Agrégat,38024390.0,Agrégat,NaN,NaN
141850,68,68,1729,5510,Production,tonnes,103000.0,Agrégat,129941.0,Agrégat,...,61984.0,Agrégat,50524.0,Agrégat,66270.0,Agrégat,55090.0,Agrégat,NaN,NaN
141851,68,68,1735,5510,Production,tonnes,7944432.0,Agrégat,7754678.0,Agrégat,...,5389131.0,Agrégat,5511958.0,Agrégat,4493920.0,Agrégat,4427890.0,Agrégat,NaN,NaN

In [28]:
df.loc[df['Code Produit']=='1']

Empty DataFrame
Columns: [Code pays déclarant, Code pays partenaire, Code Produit, Code Élément, Élément, Unité, y1961, y1961f, y1962, y1962f, y1963, y1963f, y1964, y1964f, y1965, y1965f, y1966, y1966f, y1967, y1967f, y1968, y1968f, y1969, y1969f, y1970, y1970f, y1971, y1971f, y1972, y1972f, y1973, y1973f, y1974, y1974f, y1975, y1975f, y1976, y1976f, y1977, y1977f, y1978, y1978f, y1979, y1979f, y1980, y1980f, y1981, y1981f, y1982, y1982f, y1983, y1983f, y1984, y1984f, y1985, y1985f, y1986, y1986f, y1987, y1987f, y1988, y1988f, y1989, y1989f, y1990, y1990f, y1991, y1991f, y1992, y1992f, y1993, y1993f, y1994, y1994f, y1995, y1995f, y1996, y1996f, y1997, y1997f, y1998, y1998f, y1999, y1999f, y2000, y2000f, y2001, y2001f, y2002, y2002f, y2003, y2003f, y2004, y2004f, y2005, y2005f, y2006, y2006f, y2007, y2007f, ...]
Index: []

[0 rows x 126 columns]

In [29]:
valeurs = ['*']
select_products(df, 1)

Empty DataFrame
Columns: [Code pays déclarant, Code pays partenaire, Code Produit, Code Élément, Élément, Unité, y1961, y1961f, y1962, y1962f, y1963, y1963f, y1964, y1964f, y1965, y1965f, y1966, y1966f, y1967, y1967f, y1968, y1968f, y1969, y1969f, y1970, y1970f, y1971, y1971f, y1972, y1972f, y1973, y1973f, y1974, y1974f, y1975, y1975f, y1976, y1976f, y1977, y1977f, y1978, y1978f, y1979, y1979f, y1980, y1980f, y1981, y1981f, y1982, y1982f, y1983, y1983f, y1984, y1984f, y1985, y1985f, y1986, y1986f, y1987, y1987f, y1988, y1988f, y1989, y1989f, y1990, y1990f, y1991, y1991f, y1992, y1992f, y1993, y1993f, y1994, y1994f, y1995, y1995f, y1996, y1996f, y1997, y1997f, y1998, y1998f, y1999, y1999f, y2000, y2000f, y2001, y2001f, y2002, y2002f, y2003, y2003f, y2004, y2004f, y2005, y2005f, y2006, y2006f, y2007, y2007f, ...]
Index: []

[0 rows x 126 columns]

In [24]:
val = 12
val = [val]
val

[12]